footer {
    background: #131313;
    color: #fff;
    margin: 0;
    padding: 20px;
}


.footer-social h4 {
    display: block;
    
    text-align: center;
    font-size: 1.5rem;
    margin: 15px 15px;
    
}

.social-iconos {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 25px;
    margin: 10px 5px;
}

.social-iconos li {
    display: inline-block;
}



.footer-contacto  {
    
    align-items: center;
    text-align: center;
    list-style-type: none;
}

.footer-contacto h4 {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    margin: 10px 15px;
    margin-bottom: 15px;
}

.footer-politicas h4 {
    text-align: center;
    font-size: 1.5rem;
    margin: 15px 15px;
}

.footer-politicas  {
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.footer-politicas a {
    text-decoration: none;
    padding: 0px 15px;
    color: #fff;
}

.footer-copyright {
    text-align: center;
    font-size: .9rem;
    color: #777;
    margin-top: 20px;
    
}

