/* Dispositivos de escritorio grandes, como monitores de 4K */
@media (min-width: 2560px) {
    .menu-icon {
        display: none;
    }
}

/* Pantallas de escritorio grandes, como monitores de 1080p o superiores */
@media (min-width: 1920px) and (max-width: 2559px) {
    .menu-icon {
        display: none;
    }
}

/* Pantallas de computadoras portátiles o monitores de tamaño medio */
@media (min-width: 1280px) and (max-width: 1919px) {
    .menu-icon {
        display: none;
    }
}


@media (min-width: 768px) and (max-width: 1279px) {
    .menu-icon {
        display: none;
    }


}

/* Tablets en orientación vertical y teléfonos grandes */
@media (min-width: 481px) and (max-width: 767px) {
    .navlinks {
        display: none;
    }
    .logo{
        display: flex;
        width: 100px;
        height: 80px;
        text-align: center;
        align-items: center;
        margin: auto;
    }

    .busqueda, .favoritos, .carrito {
        height: 30px;
        width: auto;
        align-items: left; 
        text-align: left;
        margin: 25px 15px;
    }


}

/* Teléfonos pequeños */
@media (max-width: 480px)  {
    .navlinks {
        display: none;
    }

    .logo{
        width: 100px;
    }
    
    nav-links.open{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 10px;
        background-color: #4CAF50;
        width: 150px;
    }

    .menu-content {
        background-color: #fff;
        padding: 30px;
        border-radius: 10px;
        height: 30%;
        width: 80%;
        max-width: 400px;
        text-align: center;
        position: relative;
        top: 10 0px;
        box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.3);
        z-index: 1;
    }

}

