.menu-icon {
    display: none;
}

.navlinks {
    display: none;
}

/* Dispositivos de escritorio grandes, como monitores de 4K */
@media (min-width: 2560px) {
    .navbar{
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 150px; /* Define altura consistente */
        z-index: 10; /* Prioridad sobre otros elementos */
        align-items: center;
    }


    .menu-icon {
        display: none;
    }

    .logo {
        position: relative;
        width: 8%;
        height: auto;
        margin: auto 400px;
        
    }
    
    .navlinks {
        display: flex;
        list-style-type: none;
        margin: auto 190px;
        font-size: 2rem;
        justify-content: space-between;
        
    }

    .navlinks li{
        display: inline-block;
        margin: 0 30px;
        
    }

    .navbar__cart, .navbar__favorites {
        display: none;

    }
}


/* Pantallas de escritorio grandes, como monitores de 1080p o superiores */
@media (min-width: 1920px) and (max-width: 2559px) {

    .navbar{
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 110px; /* Define altura consistente */
        z-index: 10; /* Prioridad sobre otros elementos */
        align-items: center;
    }

    .menu-icon {
        display: none;
    }

    .logo {
        position: relative;
        width: 9%;
        height: auto;
        margin: auto 100px;
        
    }
    
    .navlinks {
        display: flex;
        list-style-type: none;
        font-size: 1.3rem;
        margin:  0px 200px;
    }

    .navbar__cart, .navbar__favorites {
        display: none;

    }

    .titulo__sobre__nosotros{
        margin-top: 105px;
    }
    /* Ajustar el padding para que no se salga de la pantalla */ 
    .texto__about, .titulo-mision, 
    .mision, 
    .beneficios, 
    .compromiso, 
    .texto-equipo {
        padding: 0 350px;
    }
}
/* Pantallas de computadoras portátiles o monitores de tamaño medio */
@media (min-width: 1280px) and (max-width: 1919px) {
    .menu-icon {
        display: none;
    }

    .navbar{
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 110px; /* Define altura consistente */
        z-index: 10; /* Prioridad sobre otros elementos */
        align-items: center;
    }
    
    .titulo__sobre__nosotros {
        margin-top: 105px;
    } 
    .texto__about, .titulo-mision, 
    .mision, 
    .beneficios, 
    .compromiso, 
    .texto-equipo {
        padding: 0 50px;
    }
    .logo {
        position: relative;
        width: 13%;
        height: auto;
        margin: auto 100px;
    }
    
    .navlinks {
        display: flex;
        list-style-type: none;
        margin: auto;
        font-size: 1.2rem;
        justify-content: space-between;
        color: #fff;
        margin: auto 10px;
    }

    .navlinks li{
        display: inline-block;
        margin: 0 30px;
        
    }

    .navbar__cart, .navbar__favorites {
        display: none;

    }
}


@media (min-width: 768px) and (max-width: 1279px) {

    .navlinks {
        display: none;
    }

    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 150px; /* Define altura consistente */
        z-index: 10; /* Prioridad sobre otros elementos */
        align-items: center;
    }

    .logo{
        display: flex;
        max-width: 20%;
        height: auto;
        margin: auto;
        
    }

    .menu-icon {
        display: flex;
        font-size: 2.4rem;
        margin: auto 55px;
    }
    .titulo__sobre__nosotros{
        margin-top: 105px;
    }

    .texto__about, .titulo-mision, 
    .mision, 
    .beneficios, 
    .compromiso, 
    .texto-equipo {
        padding: 0 50px;
    }

    .navbar__cart, .navbar__favorites {
        display: flex;
        height: 35px;
        margin: 25px 15px;
        
    }

}

/* Tablets en orientación vertical y teléfonos grandes */
@media (min-width: 481px) and (max-width: 767px) {
    .navlinks {
        display: none;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px; /* Define altura consistente */
        z-index: 10; /* Prioridad sobre otros elementos */
        align-items: center;
    }
    .logo{
        display: flex;
        max-width: 25%;
        height: auto;
        margin: auto;
        
    }
    
    .titulo__sobre__nosotros, 
    .texto__about, .titulo-mision, 
    .mision, 
    .beneficios, 
    .compromiso, 
    .texto-equipo {
        padding: 0 50px;
    }

    .menu-icon {
        display: flex;
        font-size: 2.4rem;
        margin: auto 45px;
    }

    .navbar__cart, .navbar__favorites {
        display: flex;
        height: 30px;
        margin: 25px 15px;
        
    }


}

/* Teléfonos pequeños */
@media (max-width: 480px)  {

    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px; /* Define altura consistente */
        z-index: 10; /* Prioridad sobre otros elementos */
        align-items: center;
    }
    .logo{
        display: flex;
        max-width: 28%;
        height: auto;
        margin: auto;
        
    }
    

    .navbar__cart, .navbar__favorites {
        display: flex;
        height: 30px;
        margin: 25px 15px;
        
    }

    .titulo__sobre__nosotros, 
    .texto__about, .titulo-mision, 
    .mision, 
    .beneficios, 
    .compromiso, 
    .texto-equipo {
        margin: 0px 40px;
    }
    .menu-icon {
        display: flex;
        font-size: 2.4rem;
        margin: auto 45px;
    }
    .menu-content {
        background-color: #fff;
        padding: 30px;
        border-radius: 10px;
        height: 30%;
        width: 90%;
        max-width: 25rem;
        text-align: center;
        position: relative;
        top: 10px 0px;
        box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.3);
        z-index: 1;
    }

}

