/* ======================= SOBRE NOSOTROS========================= */
.about-us__title {
  font-size: 2.4rem;
  line-height: 3rem;
  color: #000;
  text-align: center;
  margin-top: 80px;
}

.about-us__highlight--color {
  display: inline-block;
  color: #1a8301;
  font-weight: bold;
}

.about-us__text {
  font-size: 1.3rem;
  line-height: 2.5rem;
  color: #000;
  text-align: left;
  
}

/* =========================MISIÓN========================= */
.mision__title {
  font-size: 2.4rem;
  color: #000;
  text-align: center;
}

.mision__text {
  font-size: 1.3rem;
  color: #000;
  text-align: left;
  line-height: 2.5rem;
  margin-bottom: 80px;
}

/* =========================BENEFICIOS========================= */
.benefits {
  font-size: 1.3rem;
  color: #000;
  text-align: left;
  margin: 0 10px 100px 10px;
  line-height: 2.5rem;
}

.benefits__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.benefits__list li {
  display: flex;
  align-items: center;
  margin-bottom: 1.8rem;
}

.item__icon {
  margin-right: 1.2rem;
  width: 64px;
  height: 64px;
}

.benefits__list li span {
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: #936639;
  font-weight: 500;
  margin: 0;
}

.benefits__list li a {
  text-decoration: none;
  color: inherit;
}

.benefits__list li :hover {
  text-decoration: underline #936639;
}

/* =========================COMPROMISO========================= */
.commitment__title {
  font-size: 2.5rem;
  color: #000;
  text-align: center;
  margin-bottom: 40px;
}

.commitment__text {
  font-size: 1.3rem;
  color: #000;
  text-align: left;
  line-height: 2.2rem;
  margin-bottom: 80px;
}

/* =========================EQUIPO========================= */
.teamgroup__image {
  display: flex;
  width: 350px;
  height: 350px;
  margin: auto;
  border-radius: 10%;
  align-items: center;
}

.teamgroup__text {
  font-size: 1.3rem;
  color: #000;
  line-height: 2.2rem;
  text-align: left;
  margin: 80px 0;
}
