body {
    font-family: Arial, Helvetica, sans-serif;
    background: #F1DBB7;
    margin: 0;
    padding: 0;
    padding-top: 80px; /* Asegura espacio suficiente para la navbar fija */
}


.nav {
    display: flex;
    position: fixed; /* Hace la barra fija */
    background: linear-gradient(0.15turn, #CDEAC0, #E9EDC9, #CFE795);
    
}



.nav__navlinks {
    display: flex;
    list-style-type: none;
    margin: 180px;
    gap: 30px;
}


.nav__navlinks :hover {
    color: #FFF;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
    font-weight: bold;
}

.header__navbar__navlinks__item li {
    margin: 0 30px;
}

.header__navbar__navlinks__link {
    color: #000;
    text-decoration: none;
}

.navbar__link a:hover {
    color: #000;
    text-decoration: underline;
}



